<h1 class="text-center mt-4"></h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= link_to 'Back', @project, class: 'btn btn-secondary mb-3' %>
      <div class="card" id="card-log">
        <div class="card-body">
          <h2 class='card-title mb-4'>
            <span>This task should finish at: </span>
            <% if @task.deadline.blank? %>
              <span class="badge badge-danger">Don't forget to update your deadline</span>
              <% else %>
              <%= render(TaskOverviewComponent.new(deadline: @task.deadline)) %>
            <% end %>
          </h2>

          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>