<h1 class="text-center mt-4"></h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card" id="card-log">
        <div class="card-body">
          <h2 class='card-title d-flex justify-content-between mb-4'>
            <span>Projects</span>
            <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
          </h2>
          <%= render ProjectOverviewComponent.with_collection(@projects) %>
        </div>
      </div>
    </div>
  </div>
</div>