<footer id="sticky-footer" class="py-4 text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Juan", "https://github.com/juancarloslimo", class: "text-white" %></small>
  </div>
</footer>